<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Minha Oferta</title>
</head>
<body>

    <header>
        <h1>AirFrete</h1>
        <h2>Minha Oferta</h2>
    </header>

    <div class="minhas_ofertas">
        <h3>Olá, {nome}!</h3>

        <!-- Tabela de informações -->
        <div class="oferta">
            <table>
                <tr>
                    <th>Local Saída</th>
                    <th>Local Chegada</th>
                    <th>Valor</th>
                    <th>Status</th>
                </tr>
                <tr>
                    <td>Brasília - DF</td>
                    <td>Manaus - AM</td>
                    <td>R$ 400,00</td>
                    <td>?</td>
                </tr>
            </table>
            <p>
                <button>Editar</button>
                <button>Excluir</button>
            </p>
        </div>
    </div>

</body>
</html>